<div class="container">

<p>
	<h5>Total plays</h5>

 		<%= line_chart Log.group_by_day(:date).count %>
</p>

<p>
 	<h5>Log history by game</h5>

 		<%= line_chart Log.group(:game_id).group_by_day(:date).count %>
 		
</p>


</div>